{# Liste des auteurs (nombre d'auteurs) #}
<h1>Liste des auteurs ({{ authors|length }} auteurs)</h1>

{# idha liste mawjouda w feha des auteurs bch yaffichi tableau snn yaffichi message "aucun auteur trouvé." #}
{% if authors is defined and authors|length > 0 %}
    <table border="1" width="100%">
        <tr>
            <th>details</th>
            <th>id</th>
            <th>picture</th>
            <th>username</th>
            <th>email</th>
            <th>nb_books</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td><a href="{{ path('author_details', {'id': author.id}) }}">détails</a></td>
            <td>{{ author.id }}</td>
            <td><img src="{{ author.picture }}" width="50"></td>
            <td>{{ author.username|upper }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.nb_books }}</td>
        </tr>
        {% endfor %}
    </table>
    {# bch yaffichilna nombre total de livres des auteurs #}
    {% set total = 0 %}
    {% for author in authors %}
        {% set total = total + author.nb_books %}
    {% endfor %}
    <p>livres des auteurs : {{ total }}</p>
{% else %}
    <p>aucun auteur trouvé.</p>
{% endif %}