<h1>Liste des livres</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Ref</th>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Published</th>
        <th>Author</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.ref }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.publicationDate|date('Y-m-d') }}</td>
        <td>{{ book.published ? 'Yes' : 'No' }}</td>
        <td>{{ book.author.username }}</td>
        <td>{{ book.category }}</td>
        <td>
            <a href="{{ path('app_book_edit', {'id': book.id}) }}">Edit</a>
            <a href="{{ path('app_book_delete', {'id': book.id}) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h1>Number of published books: {{ nb_published }}</h1>
<h1>Number of unpublished books: {{ nb_unpublished }}</h1>