{# bch naffichiw liste mt3 books #}
<h1>Liste des livres</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Ref</th>
        <th>Title</th>
        <th>Publication Date</th>
        <th>Published</th>
        <th>Author</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.ref }}</td>
        <td>{{ book.title }}</td>
        {# bch naffichiw publicationDate b format date ('Y-m-d') #}
        <td>{{ book.publicationDate|date('Y-m-d') }}</td>
        {# bch naffichiw published w not published ca depend ml colonne published lil book mte3na true wala false #}
        <td>{{ book.published ? 'Published' : 'Not Published' }}</td>
        <td>{{ book.author.username }}</td>
        <td>{{ book.category }}</td>
        <td>
            <a href="{{ path('app_book_edit', {'id': book.id}) }}">Edit</a>
            <a href="{{ path('app_book_delete', {'id': book.id}) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{# bch naffichiw nombre mt3 books published w unpublished w romance #}
<h1>Number of published books: {{ nb_published }}</h1>
<h1>Number of unpublished books: {{ nb_unpublished }}</h1>
<h1>Number of romance books: {{ romanceCount }}</h1>